
<ion-header class="main-header remove">
  <ion-navbar color="primary">
        <ion-title>Product</ion-title>
    </ion-navbar>
    <ion-toolbar class="primary-bg">
        <div class="search add-search">
            <div class="filter">
                <!-- getProductCategoryList(filter.category_name);getProductSubCategoryList() -->
                <ion-searchbar type='text'  placeholder="Search" name='main_category' [(ngModel)]="filter.main_category" (ngModelChange)="filter.main_category=='' ? get_subcategory(filter.main_category) : ''" (keyup.enter)="get_subcategory(filter.main_category)"></ion-searchbar>
            </div>
        </div>
    </ion-toolbar>
    
</ion-header>

<ion-content>
    
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content  pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    
    
   
    
    <div class="padding16">
        <ng-container *ngIf="prod_cat_list.length">
            <div class="product-data" *ngFor="let list of prod_cat_list; let i=index"  >

                <!-- (click)="get_subcategory1(list.id)" -->

                <div class="image-thubmnail">
                    <i *ngIf="!list.actual_image_name" class="material-icons">perm_media</i>
                    <img  src="{{uploadUrl + list.actual_image_name}}" *ngIf="list.actual_image_name">
                </div>
                <div class="content">
                    <h6>{{list.main_category}}</h6>
                    <!-- <i class="material-icons">chevron_right </i> -->
                </div>
            </div>
        </ng-container>
       
        <ng-container *ngIf="!prod_cat_list.length && no_data">
            <div class="data-not">
                <img  src="assets/imgs/no_found.svg">
            </div>
        </ng-container>
    </div>
    
    <!-- <div  class="main-div">
        <ion-list >
            <button  *ngIf="!list.actual_image_name" ion-item >
                <div class="image-manage">
                    <i class="material-icons">perm_media</i>
                </div>
                <p>{{list.main_category}}</p>
            </button> 
            <button  *ngIf="list.actual_image_name" ion-item (click)="get_subcategory1(list.id)">
                <div class="image-manage">
                    <img  src="{{url + list.actual_image_name}}">
                </div>
                <p>{{list.main_category}}</p>
            </button>  
        </ion-list>
        
    </div> -->

    
    
    
    
    
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="flag!=1">
        <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
    </ion-infinite-scroll-content>
</ion-infinite-scroll>



</ion-content>

